<!DOCTYPE html>
<html>
<head>
  <title>Real-Time Products</title>
</head>
<body>
  <h1>Lista de Productos en Tiempo Real</h1>
  <ul id="product-list">
    {{#each products}}
      <li>{{title}}</li>
    {{/each}}
  </ul>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('updateProducts', () => {
      // Código para actualizar la lista de productos en tiempo real
    });
  </script>
</body>
</html>